$fuente-titulos: 'Product Sans', sans-serif;
$fuente-principal: 'Roboto', sans-serif;
$fuente-secundaria: 'Roboto Mono', monospace;
$gris-oscuro:#2e2e2e;
$gris-medio: #414549;
$gris-claro: #6b6e72;
$azul-google: #4285f4;