@import 'variables';
@import 'mixins';
@import 'funciones';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    &:before {
        content: " ";
        display: table;
    }
    &:after {
        @extend .row:before;
        clear: both;
    }
}

[class*="col-"] {
    min-height: 7px;
    padding: 12px;
    float: left;
}

.t-centro {
    text-align: center;
}

.t-derecha {
    text-align: right;
}

.separador-azul {
	border: 2px solid $azul-google;
    margin: 5rem 0 0;
}

.mono {
    font-family: $fuente-secundaria;
    color: $gris-claro;
    font-size: .9rem;
    font-weight: 200;
}

.margen-sup {
    margin-top: 2rem;
}

.ancho-total{
    width: 100%;
}

.caja-azul {
	background-color: lighten($azul-google,35%);
}

.enlace-der {
    color: $azul-google;
    font-weight: 600;
    text-transform: uppercase;
    &:hover {
        cursor: pointer;
    }
}

.boton-sig {
        border: none;
        background-color: #fff;
        border-radius: 50%;
        padding: .5rem 0 1rem;
        font-size: 1.5rem;
        height: 3rem;
        width: 3rem;
        font-weight: 900;
        color: $azul-google;
        box-shadow: 0px 3px 12px #959595;
        &:hover {
            cursor: pointer;
        }
    }

body {
    font-family: $fuente-principal;
}

.navbar__buscar--top {
    position: fixed;
    top: 6rem;
    right: 10rem;
}

.navbar--top {
    padding-top: 4rem; 
}

.navbar--onscroll {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include tarjeta;
}

h2 {
    font-family: $fuente-titulos;
    color: $gris-oscuro;
    margin: 1rem 0;
}

h1 {
    @extend h2;
    //font-size: 2vh;
}

h3 {
    font-family: $fuente-principal;
    color: $gris-oscuro;
    margin: 1rem 0;
}

p {
    color: $gris-medio;
    margin: 1rem 0;
}

header {
    height: 4rem;
    img#logo-nav {
            width: 10vw;
            display: none;
        }    
    
    //background-color: #fff;
    nav {
        height: 100%;
                
        li {
            list-style: none;
            display: inline-block;
            margin: 1rem;
            a {
                text-decoration: none;
                color: $gris-medio;
                font-weight: 600;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

main {
    padding-top: 6rem;
}

#primera {
    padding: 1.3rem;
    &:hover {
    @include tarjeta;
    }
}

#tercera {
    padding-top: 2rem;
    div.col-6 {
        padding: 1.5rem;
        &:hover {
            @include tarjeta;            
        }
        & img:last-child {
            margin-right: .6rem;
        }
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                @include img-redonda;
            }
            p {
                display: inline-block;
            }
        }
        &:nth-child(2) {
            margin-bottom: 1rem;
        }
        
         &:nth-child(4){
            margin-bottom: .3rem;
        }
    }
    
    & div:last-child {
        hr {
            margin: 0;
        }
    }
}

#cuarta {
    div.col-4 {
        h2 {
            margin: 0 0 2rem;
        }
        p {
            font-size: 1.2rem;
        }
    }
    div.col-8 {
        div.ficha:hover {
            @include tarjeta;
        }
    }
}

#quinta {
    div.col-6 {
        &:hover {
            @include tarjeta;
        }
        &:nth-child(2) {
            margin-bottom: 1.2rem;
        }
        &:nth-child(4) {
            margin-bottom: .3rem;
        }
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                @include img-redonda;
            }
            p {
                display: inline-block;
            }
        }
    }
    hr {
        margin: 0;
    }
}

#sexta {
    div.col-4:hover {
        @include tarjeta;
    }
}

#septima {
    div.col-6 {
        &:hover  {
            @include tarjeta;
        }
        &:nth-child(2) {
            margin-bottom: .3rem;
        }
        div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
                @include img-redonda;
            }
            p {
                display: inline-block;
            }
        }
    }
    hr {
        margin: 0;
    }
}

.min {
    color: $gris-claro;
    font-family: $fuente-principal;
    font-size: 14px;
}

#datos {
    div.col-4 {
        padding: 0 2rem;
        ul {
            margin-top: 1rem;
            padding: 0;
            li {                
                list-style: none;
                padding: 0;
                a {
                    text-decoration: none;
                    @extend .min;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.final {
    border: 1.7px solid;
    border-color: lighten($gris-claro,50%);
    margin: 5rem 0 0;
    
}

footer {
    padding: 4rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 2rem;
    }
    a {
        text-decoration: none;
        @extend .min;
        &:hover {
            cursor: pointer;
        }
    }
}

